<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>ServCache</servlet-name>
        <servlet-class>com.controller.UserController$Servlet</servlet-class>
        <!--<load-on-startup>0</load-on-startup>-->
    </servlet>
    -
    <servlet-mapping>
        <servlet-name>ServCache</servlet-name>
        <url-pattern>/ServCache</url-pattern>
    </servlet-mapping>
    -
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    -
    <!--<taglib>-->
        <!--<taglib-uri>/com/sun/web/taglibs/cache</taglib-uri>-->
        <!--<taglib-location>/WEB-INF/sun-web-cache.tld</taglib-location>-->
    <!--</taglib>-->
</web-app>
